*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.pem
*.key
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
provider.tf

#ansible
*.vault
.vault_pass
inventory/host_vars/
inventory/group_vars/

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo